body {
    box-sizing: content-box;
}

/*** Headings and Text ***/
h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2.1em;
    text-align: center;
    text-transform: uppercase;
    color: #b27e3e;
    text-shadow: 5px 5px 5px #4d4d4d;
    margin: 0 0;
    padding-top: 25%;
}

h3 {
    font-family: "Kristi";
    font-size: 3em;
    color: #ede4d5;
    text-shadow: 5px 5px 5px #000;
    margin: -5%;
    text-align: center;
}
h4 {
    font-family: "Playfair Display";
    color: #4d4d4d;
    font-size: 2.1em;
}

h5 {
    font-family: 'Lato';
    font-size: 1.1em;
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 0;
}

h6 {
    font-family: 'Lato';
    font-size: 1em;
    color: #4d4d4d;
}

p, ul {
    font-family: 'Lato';
    font-weight: 300;
    color: #4d4d4d;
    padding-bottom: 5px;
    line-height: 1.5;
}



/*** Navigation ***/
.logo img {
    width: 150px;
    display: block;
    margin: auto;
}

.logo {

}

.hamburger img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

/*** Hero Image ***/
figure {
    margin: 0;
}

.header-image img {
    width: 100%;
    -webkit-filter: brightness(40%); /* Safari */
    filter: brightness(40%);
}

.header-image {
    position: relative;
    width: 100%;
}

.on-image {
    position: absolute;
    top: 15px;
    left: 10%;
}

/** Main Container **/
.main {
    width: 100%;
    margin: auto;
}

/** About Section **/
.about {
    padding: 10px;
    background-color: #fff;
}

.about img {
    width: 100%;
}

/** Daily Bakes **/
.daily-bakes {
    padding: 10px;
}
.daily-bakes img {
    width: 100%;
}

.daily-bakes p {
    margin-bottom: 0;
}

/** Cafe Menu **/
.cafe-menu {
    padding: 10px;
}

.cafe-menu img {
    width: 100%;

}
