body {
    box-sizing: content-box;
}

/*** Headings and Text ***/
h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2.1em;
    text-align: center;
    text-transform: uppercase;
    color: #b27e3e;
    text-shadow: 5px 5px 5px #4d4d4d;
    margin: 0 0;
    padding-top: 25%;
}

h3 {
    font-family: "Kristi";
    font-size: 3em;
    color: #ede4d5;
    text-shadow: 5px 5px 5px #000;
    margin: -5%;
    text-align: center;
}
h4 {
    font-family: "Playfair Display";
    color: #4d4d4d;
    font-size: 2.3em;
    margin-top: 35px;
    margin-bottom: 10px;
}

h5 {
    font-family: 'Lato';
    font-size: 1.1em;
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: : 0;
    margin-bottom: 0
}

h6 {
    font-family: 'Lato';
    font-size: 1em;
    color: #4d4d4d;
    margin-top: 0;
    margin-bottom: 5px;
}

p, ul {
    font-family: 'Lato';
    font-weight: 300;
    color: #4d4d4d;
    padding-bottom: 5px;
    line-height: 1.5;
    margin-top: 0;
}

/*** Navigation ***/
.logo img {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
    display: block;
    top: 0;
    width: 100%;
    background: #fff;
}

nav ul li {
    /*float: left;*/
    font-size: 0.8em;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color: #772f1a;
}

nav ul li a:hover {
    font-weight: 400;
}

nav ul li a:visited {
    color: #772f1a;
}

/*** Hero Image ***/
figure {
    margin: 0;
}

.header-image img {
    width: 100%;
    -webkit-filter: brightness(40%); /* Safari */
    filter: brightness(40%);
}

.header-image {
    position: relative;
    width: 100%;
    padding-top: 250px;
}

.on-image {
    position: absolute;
    top: 15px;
    left: 10%;
}

/** Main Container **/
.main {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.main section {
    padding: 10px;
}

.main img {
    width: 100%;
}

/** About Section **/
.about button, .december-promotion button {
    background-color: #772f1a;
    border-style: none;
    height: 50px;
    font-family: 'Lato';
    color: #fff;
    width: 100%;
    max-width: 480px;
    margin: auto;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

/** December Promotion **/
.december-promotion {
    background-color: #ede4d5;
    padding: 40px;
    margin: 30px 10px 30px 10px;
}

/** Cafe Menu **/
.featured {
    background-color: #ede4d5;
    padding: 15px;
    margin-bottom: 15px;
}

.featured h5 {
    color: #772f1a;
    padding-bottom: 10px;
}

/** Gallery **/
.gallery img {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.fresco-gallery


/** Contact Us **/
.social-media {
    margin: auto;
    width: 200px;
    margin-top: 10px;
}

.social-media img {
    width: 50px;
    margin: auto;
}

.contact-form p {
    margin-bottom: 0;
    margin-top: 15px;
}

.contact-form input {
    display: block;
    height: 50px;
    width: 90%;
}

.contact a {
    color: #772f1a;
}

.contact a:hover {
    font-weight: 400;
}

.contact ul {
    list-style-type: none;
}

#message {
    height: 150px;
}

input#submit {
    background-color: #772f1a;
    border-style: none;
    height: 50px;
    font-family: 'Lato';
    color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    text-transform: uppercase;
}

.reqd {
    color: red;
}

/** Footer **/
.footer {
    width: 100%;
    background-color: #772f1a;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 50px;
    text-align: center;
}

.footer p {
    color: #fff;
}

hr {
    display: none;
}

/** Back to Top button **/

#top-button {
    display: none;
    position: fixed;
    bottom: 160px;
    right: 3px;
    z-index: 99;
    background-color: #fff;
    /*background-color: rgba(119, 47, 26, 0.5);*/
    border-style: none;
    height: 50px;
    width: 100px;
    font-family: 'Lato';
    color: #772f1a;
    text-transform: uppercase;
    font-size: 0.9em;
}

a.scroll {
    color: #772f1a;
    text-decoration: none;
}

a.scroll:hover {
    color: #772f1a;
}

/** Media Queries **/
@media all and (min-width: 361px) {
    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 3.5em;
    }

    .header-image {
        padding-top: 300px;
    }
}
@media all and (min-width: 480px) {
    h2 {
        font-size: 3.3em;
    }

    h3 {
        font-size: 4.1em;
    }

    .header-image {
        padding-top: 400px;
    }

}

@media all and (min-width: 640px) {
    h2 {
        padding-top: 35%;
    }

    .on-image {
        left: 20%;
    }

    h5, h6 {
        text-align: center;
    }

    .december-promotion {
        clear: both;
        margin-top: 30px;
    }

    .contact h5, .contact h6 {
        text-align: left;
    }

    nav {
        text-align: center;
        margin: auto;
    }

    nav ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        margin: auto;
        display: block;
        top: 0;
        width: 100%;
        background: #fff;
        text-align: center;
    }

    nav ul li {
        float: left;
        font-size: 0.9em;
        display: inline;
    }

    nav ul li a {
        display: inline-block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        color: #772f1a;
    }

    nav ul li a:hover {
        font-weight: 400;
    }

    nav ul li a:visited {
        color: #772f1a;
    }

    .header-image {
        padding-top: 500px;
    }

}

@media all and (min-width: 768px) {
    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 5em;
    }

    .about h5 {
        clear: both;
    }

    .daily-bakes img {
        width: 75%;
        margin: auto;
        display: block;
    }

    .daily-bakes-float p {
        text-align: center;
    }

    .december-promotion img, .cafe-menu img {
        width: 75%;
        margin: auto;
        display: block;
    }

    .december-promotion p, .cafe-menu p {
        text-align: center;
    }

    .menu-cat p, .menu-cat h6 {
        text-align: left;
    }

    p.align-left {
        text-align: left;
    }

    nav ul li {
        font-size: 1.1em;
    }

    .header-image {
        padding-top: 550px;
    }

}

@media all and (min-width: 1024px) {
    .on-image {
        left: 30%;
    }

    h2 {
        font-size: 4.5em;
    }

    h3 {
        font-size: 5.5em;
    }

    .header-image {
        padding-top: 600px;
    }

}

@media all and (min-width: 1366px) {
    .on-image {
        left: 50%;
    }

    h2 {
        font-size: 5em;
    }

    h3 {
        font-size: 6.5em;
    }

}
